<div id="<%= dom_id question %>">
  <p>
    <strong>Img:</strong>
    <%= question.img %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= question.desc %>
  </p>

  <p>
    <strong>Answer:</strong>
    <%= question.answer_id %>
  </p>

</div>
